<% provide(:title, (t 'myorder')) %> 
<div class="span9">
  <h3 class="header-title"><%=(t 'myorder')%></h3>
  <div class="popover-content">
            <table class="table table-hover">
   <tr>
    <th><%=(t 'admin.code')%></th>
    <th><%=(t 'name')%></th>
    <th><%=(t 'phonenumber')%></th>
    <th><%=(t 'date')%></th>
    <th><%=(t 'ordercart.total')%></th>
    <th><%=(t 'detail')%></th>
  </tr>
  <% @order.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.phone %></td>
    <td><%= item.created_at.strftime("%H:%M %d-%m-%Y") %></td>
    <td><%= number_to_currency(item.total, :unit => "") %> $</td>
    <td><%= link_to (t 'clicktosee'), :controller => "order", :action => "show", :id => item.id %></td>
  </tr>
  <% end %>
          </table>
  </div>
  <div style="clear:both;float:right"><%= will_paginate @order %></div>
</div>