<% provide(:title, (t 'checkout')) %> 
<div class="span9">
  <h3 class="header-title"><%=(t 'checkout')%></h3>
  <div class="popover-content">
    <div class="row">
      <div class="span6 offset1">
        <%=(t 'ordercart.mess1')%>: <span style="color:red"><b><%= number_to_currency(@total, :unit => "") %> $</b></span>
        <p><%=(t 'ordercart.mess2')%></p>
        <%= form_for(@order, :url => url_for(:controller => 'order', :action => 'create')) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :Name,(t 'name') %>
        <%= f.text_field :name %>

        <%= f.label :Phone, (t 'phonenumber')%>
        <%= f.text_field :phone %>

        <%= f.label :Address,(t 'address') %>
        <%= f.text_field :address %>

        <%= f.submit (t 'ordercart.btnprocess'), class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>