  <% provide(:title, @product.name) %> 
  <div class="span9" style="float:right">
    <h3 class="header-title">Product Detail</h3>
    <div class="popover-content">
      <div class="detail-brief">
        <div class="show-img">
          <%= image_tag(@product.imageurl, alt: @product.name) %>
        </div>
        <div class="show-brief">
          <b>Name:</b><span class="title"> <%= @product.name %></span><br/>
          <b>id product:</b> <%= @product.id %><br/>
          <b>Price:</b> <%= @product.price %> <b><%= @product.currency %></b><br/>
        </div>
        <b>Description:</b><div class="desc"> <%= @product.description %></div><br/>
      </div>
      <div align="center">
        <button class="btn btn-success" type="button" onClick="AddCart(<%= @product.id %>)">Add Cart <i class="icon-shopping-cart"></i></button>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>

  <% if @other_product.count > 0 %>
  <div class="span9" style="float:right">
    <h3 class="header-title">Similar products</h3>
    <div class="popover-content">
      <% @other_product.each do |item| %>
      <div class="box-product">
        <div class="brief">
          <div class="thumb">
            <%= link_to image_tag(item.imageurl, alt: item.name), :controller => "products", :action => "show", :id => item.id %>
          </div>
          <a data-tooltip="sticky230" href="#">
            <img width="158px" height="220px" src="" style="border:3px solid #FFF"></a>
            <%= link_to truncate(item.name, :length => 40), :controller => "products", :action => "show", :id => item.id %><br/>
    </div>
    <div align="center">
      <span class="label label-info price"><%= item.price %> <b><%= item.currency %></b></span><br/>
      <button class="btn primary details" data-tooltip="sticky<%= item.id %>"><i class="icon-zoom-in"></i></button>
      <a href="javascript:void(0)" class="btn addto" onClick="AddCart(<%= item.id %>)">Add to <i class="icon-shopping-cart"></i></a>
    </div>
        </div>
        <% end %>
      </div>
      <div style="clear:both"></div>
    </div>
    <% end %>

    <!--HTML for the tooltips-->
  <div id="mystickytooltip" class="stickytooltip">
    <div style="padding:5px">
      <% if @other_product.count > 0 %>
      <% @other_product.each do |item| %>

      <div id="sticky<%= item.id %>" class="atip">
        <%= image_tag(item.imageurl, alt: item.name)%><br/>
        <b><%= item.name %></b><br/>
        <b>Price: <%= item.price %> <%= item.currency %></b>

      </div>
      <% end %>
      <% end %>

    </div>

    <div class="stickystatus"></div>
  </div>