<div class="row-fluid">
    <% if flash[:notice_email_request]%>
    <div class="alert alert-error" style = "height:40px">
        <%= flash[:notice_email_request]%>
    </div>
    <% end %>
</div>
<div class="row-fluid" style='width:400px;'>
    <div class="<%= @class %>">
        <%= @msg %>
    </div>
    <br/>
    <div>
        <%= form_tag(reminder_update_path, :method => "post") do  %>
          <%= hidden_field_tag "token", "#{@token}" %>
          <%= hidden_field_tag "id", "#{@id}" %>
          <label><%= (t 'remind.passwordfield') %></label>
          <div class = "input">
            <div class = "inline-inputs">
             <%= password_field_tag "acc_new_pass" %>
            </div>
          </div>

          <label><%= (t "remind.passwordfield_confirm") %></label>
          <div class = "input">
            <div class = "inline-inputs">
              <%= password_field_tag "acc_new_pass_confirm" %>
            </div>
          </div>
          <div class = "input">
            <%= submit_tag (t 'remind.btnchange'), :class => "btn btn-primary", :name => "post_new_pass" %>
          </div>
        <% end %>
    </div>

</div>
</div>
